body{
    background: #191940;
}
.table1{
    text-align: center;
    margin: auto;
    margin-top: 10vh;
}
.text1{
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.page-header{

}

